body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.robyn {
    margin: 60px 0px 100px 0px;
    font-family: Tahoma;
    width: 800px;
    height: 140px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 3px;
    padding:6px 0px 12px 0px;
}

.robyn h1 {
    font-size: 60px;
    text-align: left;
    padding-bottom: 0px;    
    line-height: 1;
    letter-spacing: -1px;
    color: #D80000;
}

.robyn h2 {
    font-size: 28px;
    padding-top: 0px;
    font-family: Tahoma cursive;
    margin-top: -34px;
    text-align: left;
    line-height: .5;
}

.blog_entry {
    margin: 20px 0px 100px 0px;
    font-family: Tahoma;
    width: 800px;
    height: 950px;
    font-size: 18px;
    font-weight: 200;
    background-color: #eee;
    padding: 5px 0px 10px 0px;
}

.blog_entry h1{
    line-height:30px;
    color: #D80000;
    font-size: 28px;
}

.blog_entry p {
    font-size: 14px;
}

.blog_entry a {
    text-decoration: none;
    color: #D80000;
    font-size: 14px;
    font-family: Helvetica;
}

.blog_entry a:hover {
    text-decoration:underline;
}

.blog_entry ul {
    font-size: 14px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-left: 5px;
    padding-top: 5px;
}

.blog_entry li {
    margin-left: 20px;
}

.blog_entry h3 {
    font-family: script;
    font-size: 18px;
}

.top a {
    margin-left: 760px;
}


